main.splash-screen {
    --screen-size: lg;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: light) {
    main.splash-screen {
        background-color: #eeeeee;
    }
}

@media (prefers-color-scheme: dark) {
    main.splash-screen {
        background-color: #181818;
    }
}

main.splash-screen#dark {
    background-color: #181818;
}

main.splash-screen#light {
    background-color: #eeeeee;
}

main.auth-page {
  overflow: hidden;
  background-color: #eeeeee;
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

main.auth-page section.tab-container {
  background-color: white;
  width: 340px;
  height: 490px;
  padding: 0 0 0 0;
  border-style: solid;
  border-width: 1px;
  border-color: #d6d6d6;
}

main.auth-page section.tab-container header {
  width: 100%;
  height: 70px;
  background-color: #fafafa;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #d6d6d6;
  box-shadow: 0px 2px 1px 0px #f5f5f5;
  display: flex;
}

main.auth-page section.tab-container header button {
  height: 100%;
  width: 50%;
  font-size: 19px;
  background-color: transparent;
  border-color: transparent;
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 3px;
  font-weight: bold;
  color: #303030;
}

main.auth-page section.tab-container header button:focus {
  outline: none;
}

main.auth-page section.tab-container section.tab {
  width: calc(100% - 45px);
  height: calc(100% - 70px);
  padding: 22.5px;
}

main.auth-page section.tab-container section.tab button {
  width: calc(100%);
  margin-bottom: 20px;
  font-size: 17px;
  padding: 12px;
  outline: none;
  height: 45px;
  border-width: 0;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #06e0a7;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}

main.auth-page section.tab-container section.tab button:hover {
  background-color: #06c694;
}

main.auth-page section.tab-container section.tab button:disabled {
  cursor: no-drop;
  background-color: #07f0b4;
}

main.auth-page section.tab-container section.tab p[data-type="error-message"] {
  margin: -5px 0 0 0;
  padding: 0 0 13px 3px;
  font-size: 15.5px;
  color: #f50000;
  font-family: Arial, Helvetica, sans-serif;
}

main.auth-page section.tab-container section.tab input[data-type="text"],
main.auth-page section.tab-container section.tab input[data-type="text-error"] {
  width: calc(100% - 24px);
  margin-bottom: 20px;
  font-size: 15px;
  padding: 12px;
  outline: none;
  height: 20px;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  border-color: #bdbdbd;
}

main.auth-page section.tab-container section.tab input[data-type="text"]:focus,
main.auth-page section.tab-container section.tab input[data-type="text-error"]:focus {
  outline: none;
  border-color: #2196f3;
  box-shadow: 0 0 1.5px 0px #2196f3;
}

main.auth-page section.tab-container section.tab input[data-type="text-error"] {
  box-shadow: 0 0 1.5px 0px red;
  border-color: red;
}

main.auth-page section.tab-container section.tab a {
  color: #424242;
}

main.auth-page section.tab-container section.tab a:link {
  outline: none;
}

main.auth-page section.tab-container section.tab#sign-in div[data-type="magic-link-container"] {
  display: flex;
  margin-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15.5px;
  justify-content: flex-end;
}

main.auth-page section.tab-container section.tab#sign-in div[data-type="magic-link-container"] a {
  text-decoration: none;
}

main.auth-page section.tab-container section.tab#sign-in div[data-type="magic-link-container"] a:hover {
  text-decoration: underline;
}

main.auth-page section.tab-container section.tab#sign-up div[data-type="policy-container"] {
  display: flex;
  margin-bottom: 15px;
}

main.auth-page section.tab-container section.tab#sign-up div[data-type="policy-container"] span {
  color: #616161;
  padding-top: 2px;
  padding-left: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15.5px;
}

@media only screen and (max-width: 480px) {
  main.auth-page section.tab-container {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 978px) {
  main.auth-page section.tab-container {
    width: 340px;
    height: 490px;
  }
}

@media only screen and (min-width: 979px) and (max-width: 1023px) {
  main.auth-page section.tab-container {
    width: 360px;
    height: 490px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1119px) {
  main.auth-page section.tab-container {
    width: 400px;
    height: 490px;
  }
}

@media only screen and (min-width: 1200px) {
  main.auth-page section.tab-container {
    width: 420px;
    height: 490px;
  }
}

main.auth-page#dark {
  background-color: #181818;
}

main.auth-page#dark section.tab-container {
  border-color: #3c3c3c;
  background-color: #212121;
}

main.auth-page#dark section.tab-container header {
  background-color: #2b2b2b;
  border-color: #3c3c3c;
  box-shadow: none;
}

main.auth-page#dark section.tab-container header button {
  color: white;
}

main.auth-page#dark section.tab-container section.tab input[data-type="text"],
main.auth-page#dark section.tab-container section.tab input[data-type="text-error"] {
  color: #dcdcdc;
  background-color: transparent;
}

main.auth-page#dark section.tab-container section.tab a {
  color: #e6e6e6;
}

main.auth-page#dark section.tab-container section.tab#sign-up div[data-type="policy-container"] span {
  color: #e6e6e6;
}

main.auth-page#light {
  background-color: #eeeeee;
}

main.auth-page#light section.tab-container {
  background-color: white;
  border-color: #d6d6d6;
}

main.auth-page#light section.tab-container header {
  background-color: #fafafa;
  border-color: #d6d6d6;
  box-shadow: 0px 2px 1px 0px #f5f5f5;
}

main.auth-page#light section.tab-container header button {
  color: #303030;
}

main.auth-page#light section.tab-container section.tab input[data-type="text"],
main.auth-page#light section.tab-container section.tab input[data-type="text-error"] {
  color: black;
  background-color: transparent;
}

main.auth-page#light section.tab-container section.tab a {
  color: #424242;
}

main.auth-page#light section.tab-container section.tab#sign-up div[data-type="policy-container"] span {
  color: #616161;
}

@media (prefers-color-scheme: dark) {
  main.auth-page {
    background-color: #181818;
  }

  main.auth-page section.tab-container {
    border-color: #323232;
    background-color: #212121;
  }

  main.auth-page section.tab-container header {
    background-color: #2b2b2b;
    border-style: solid;
    border-color: #323232;
    box-shadow: 0px 2px 1px 0px #272727;
  }

  main.auth-page section.tab-container header button {
    color: white;
  }

  main.auth-page section.tab-container section.tab input[data-type="text"],
  main.auth-page section.tab-container section.tab input[data-type="text-error"] {
    border-color: #969696;
    color: #dcdcdc;
    background-color: transparent;
  }

  main.auth-page section.tab-container section.tab input[data-type="text"]:focus,
  main.auth-page section.tab-container section.tab input[data-type="text-error"]:focus {
    border-color: #2196f3;
    box-shadow: 0 0 1.5px 0px #2196f3;
  }

  main.auth-page section.tab-container section.tab a {
    color: #e6e6e6;
  }

  main.auth-page section.tab-container section.tab a:link {
    outline: none;
  }

  main.auth-page section.tab-container section.tab#sign-up div[data-type="policy-container"] span {
    color: #e6e6e6;
  }
}

@media (prefers-color-scheme: light) {
  main.auth-page {
    background-color: #eeeeee;
  }

  main.auth-page section.tab-container {
    background-color: white;
    border-color: #d6d6d6;
  }

  main.auth-page section.tab-container header {
    background-color: #fafafa;
    border-color: #d6d6d6;
    box-shadow: 0px 2px 1px 0px #f5f5f5;
  }

  main.auth-page section.tab-container header button {
    color: #303030;
  }

  main.auth-page section.tab-container section.tab input[data-type="text"],
  main.auth-page section.tab-container section.tab input[data-type="text-error"] {
    color: black;
    border-color: #bdbdbd;
    background-color: transparent;
  }

  main.auth-page section.tab-container section.tab a {
    color: #424242;
  }

  main.auth-page section.tab-container section.tab#sign-up div[data-type="policy-container"] span {
    color: #616161;
  }
}
